.education {
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.eSection {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.eSection.right {
    padding: 48px;
    justify-content: center;
    align-items: center;
}

.eSection.left {
    padding: 24px;
}

.eTitle {
    font-size: 36px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
    color: pink;
}

.education-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 16px;
}

.education-item {
    border-bottom: 1px dashed pink;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.education-item h3,
.education-item p {
    display: flex;
    align-items: baseline;
}

.left-param {
    font-weight: 600;
    color: red;
    min-width: 160px;
    flex-shrink: 0;
    font-size: 18.4px;
}

.right-param {
    font-style: italic;
    font-weight: 400;
    color: #fff;
    font-size: 17.6px;
    flex: 1;
}

/* Responsive Design Begins */

/* Larger desktops */ 
@media (max-width: 1536px) {
    .left-param {
        font-size: 18px;
    }
    .right-param {
        font-size: 17px;
    }
}

/* Medium Desktops */
@media (max-width: 1280px) {
    .left-param {
        font-size: 15px;
    }
    .right-param {
        font-size: 14px;
    }
}

/* Tablets */
@media (max-width: 1024px) {
    .left-param {
        min-width: 128px;
        font-size: 14px;
    }
    .right-param {
        font-size: 13px;
    }
}

/* Mobile */
@media (max-width:768px) {
    .education {
        flex-direction: column;
    }

    .education-item h3,
    .education-item p {
        flex-direction: row;
        align-items: baseline;
    }

    .eSection {
        width: 100%;
    }

    .eSection.left {
        max-height: 60%;
        height: fit-content;
        padding: 16px;
    }

    .eSection.right {
        max-height: 40%;
        height: max-content;
        padding: 32px;
    }

    .left-param {
        min-width: 96px;
        font-size: 12px;
    }

    .right-param {
        font-size: 11px;
    }

    .education-item {
        gap: 5px;
    }
}
