/* Main layout for the introduction section */
.introduction {
    height: 100%;
    display: flex;
    overflow: hidden;
}

/* Background Image */
.bgImg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.intr-img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 80%;
    width: max-content;

}

.intr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Left Side CSS */

.iSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iTitle {
    margin-top: 50px;
    font-size: 100px;
    color: pink;
}

.iTitle span {
    color: white;
}

.prof-summary {
    width: 60%;
}

.prof-summary p {
    color: #ddd;
    font-size: 14px;
    padding: 16px 0px;
    text-align: justify;
    text-align-last: left;
}

.scroll {
    margin-bottom: 50px;
    width: max-content;
}

/* Right Side CSS */
.iSection.right {
    align-items: end;
}

.social-prof {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: #2f204e;
    border-bottom-right-radius: 10px;
}

.follow-text-container {
    width: 20px;
    height: 20px;
}

.follow-text {
    font-size: 12px;
    background-color: #dd4c62;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-25px);
    padding: 0px 8px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
}

.bubble-container {
    width: 50%;
    display: flex;
    align-items: end;
    gap: 8px;
    justify-content: space-between;
}

.speech-bubble {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #555;
    padding: 24px;
    font-size: 18px;
    border-radius: 20px 20px 0px 20px;
}

.bubble-container img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #dd4c62;
}

.downoad-link {
    display: flex;
    justify-content: flex-end;
}

.download-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    color: #ddd;
    font-size: 10px;
    width: 60%;
    font-weight: 700;
    background-color: #2f204e;
    padding: 8px 32px;
    border-radius: 8px;
    transform-origin: right center;
}

.contact-link {
    margin-bottom: 50px;
}

.contact-button {
    position: relative;
}

.circleText {
    letter-spacing: 3px;
    font-size: 20px;
}

.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsizes CSS Starts below */

/* Larger Desktops */
@media (max-width: 1536px) {
    .iTitle {
        font-size: 72px;
    }
}

/* Desktops */
@media (max-width: 1280px) {
    .bgImg {
        height: 60%;
        top: auto;
        bottom: 0;
    }

    .intr-img {
        height: 100%;
    }

    .iTitle {
        font-size: 88px;
    }

    .prof-summary {
        width: 80%;
    }

    .bubble-container {
        width: 100%;
    }

}

/* Tablets */
@media (max-width: 1024px) {
    .bgImg {
        height: 50%;
    }

    .iTitle {
        font-size: 72px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .introduction {
        flex-direction: column;
    }

    .bgImg {
        height: 60%;
    }

    .iSection {
        width: 100%;
    }

    .iSection.left {
        align-items: center;
        text-align: center;
        gap: 36px;
    }


    .iTitle {
        font-size: 40px;
    }

    .prof-summary {
        width: 100%;
    }

    .scroll {
        width: 100%;
        text-align: left;
    }

    .iSection.right {
        justify-content: end;
    }

    .social-prof {
        position: absolute;
        left: 0;
        bottom: 0;
        top: auto;
        right: auto;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 0px;
    }

    .follow-text-container {
        order: -1; /* moves it to the top */
    }

    .follow-text {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 10px;
        padding: 0px 8px;
        rotate: 270deg;
        transform: translateY(-35px) translateX(16px);
        transform-origin: center top;
    }

    .bubble-container {
        display: none;;
    }

}