.contacts {
    height: 100%;
    display: flex;
    /* gap: 100px; */
    overflow: hidden;
}

.c-section {
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.c-section:last-child {
    background-color: rgba(2, 2, 45, 0.187);
    margin: 50px 0px;
    padding: 50px;
    border-radius: 50% 0px;
}

.c-title {
    color: pink;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

label {
    font-size: 13px;
}

input,
textarea {
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
}

textarea {
    resize: none;
    overflow-y: auto;
}

dialog {
    border: none;
    border-radius: 12px;
    padding: 24px;
    background-color: #ddd;
    box-shadow: 0 8px 16px #0000004d;
    width: max-content;
}

dialog[open] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

dialog::backdrop {
    background: #00000083;
}

.c-form-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.c-form-button {
    background-color: #dd4c62;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.c-social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.c-dialog-box.success {
    border: 2px solid #4caf50;
}

.c-dialog-box.error {
    border: 2px solid #f44336;
}

.c-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.c-dialog-btn.success {
    background-color: #4caf50;
    border-radius: 4px;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.c-dialog-btn.error {
    background-color: #f44336;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-weight: 600;
}



/* Responsive CSS Starts */

/* Larger Desktops */
@media (max-width: 1536px) {}

/* Medium Desktops */
@media (max-width: 1280px) {
    form {
        width: 100%;
    }
}

/* Tablets */
@media (max-width: 1024px) {}

/* Mobile */
@media (max-width: 768px) {
    .contacts {
        flex-direction: column;
    }

    .c-section {
        width: 100%;
        padding: 16px;
    }

    .c-section:first-child {
        height: 70%;
    }

    .c-section:last-child {
        height: 30%;
        padding: 16px;
    }
}